.primeiro,
.segundo {
  width: 200px;
  display: inline-block;
  border: 2px solid black;
}

.primeiro {
  background-color: rgb(63, 226, 226);

  padding: 20px 10px;
}

.segundo {
  background-color: rgb(215, 106, 23);
  padding: 5px 25px 70px 100px;
}

body {
  margin: 20px;
}
